# ==========================================
# 1. Thư viện siêu to khổng lồ (Nặng, tự sinh ra được)
# ==========================================
node_modules/

# ==========================================
# 2. Mã biên dịch (Tự động sinh ra bởi TS)
# ==========================================
# Mặc dù file trong dist/ là để chạy Extension, nhưng nguyên tắc Clean Code
# là không bao giờ commit mã tự sinh (generated code) lên Git.
# Khi tải code về, chỉ cần chạy npm run build là nó tự tạo lại.
dist/

# ==========================================
# 3. Cấu hình IDE cá nhân (Không ép người khác xài chung cấu hình)
# ==========================================
.vscode/

# ==========================================
# 4. Log và các file rác của NPM
# ==========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================================
# 5. File hệ điều hành (Rác của Windows/Mac)
# ==========================================
.DS_Store
Thumbs.db
desktop.ini


#############################3
docx/

core_engine/target/
core_engine/Cargo.lock

data/

native_host/